.new-qa-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 200px; }
  .new-qa-item__question {
    height: 50px;
    width: 100%;
    border: 0px;
    border-left: 3px solid #b9ceea;
    border-bottom: 1px solid #b9ceea;
    padding: 10px;
    background-color: white;
    outline: none;
    text-align: left; }
    .new-qa-item__question > h2 {
      font-weight: normal;
      color: #7ba4db; }
  .new-qa-item__answer {
    outline: none;
    width: 100%;
    height: 149px;
    overflow-y: auto;
    display: block;
    padding: 8px 5px 10px 10px;
    font-size: 0.9em;
    resize: none;
    border: 1px solid #b9ceea;
    border-top: 0; }
  .new-qa-item__buttons {
    align-self: flex-end; }
