@import 'assets/variables.scss';




.qa {
  max-width: $content-width;
  > img {
    max-width: $content-width;
  }
}

.main__buttons {
  align-self: flex-end;
}

.qa-content {
  display: flex;
  flex-direction: column;
}


.add-btn {
  border: 0;
  background: #2a3440;
  color: #cabbb3;
  padding: 5px 10px;
  margin-bottom: 4px;
  margin-left: 6px;
  cursor: pointer;
  align-self: flex-end;
}