@import 'fonts.scss';
@import 'assets/variables.scss';

/*Reset*/
* {
  /*border and padding will be included in width and height of elements*/
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  height: 100%;
  font-size: 20px;
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font: 1rem/1.5 "PT Sans", sans-serif;
}


section, article, aside, main, nav {
  display: block;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6  {
  margin: 0;
}

#root {
  height:100%;
}

button {
  outline: none;
}