.qa-item {
  display: block; }
  .qa-item__question {
    height: 50px;
    width: 100%;
    border: 0px;
    border-left: 3px solid #b9ceea;
    border-bottom: 1px solid #b9ceea;
    padding: 10px;
    background-color: #eaeaf8;
    outline: none;
    text-align: left; }
    .qa-item__question:hover {
      cursor: pointer; }
    .qa-item__question > h2 {
      font-weight: normal;
      color: #7ba4db; }
  .qa-item__answer {
    transition: max-height 500ms linear 0ms;
    max-height: 0px;
    overflow: hidden;
    font-size: 0.9em;
    padding-left: 20px; }
    .qa-item__answer--opened {
      max-height: 500px; }
