@import 'assets/variables.scss';

$border-color: #b9ceea;
$background-color: #eaeaf8;


.qa-item {
  display: block;
  &__question {
    height: 50px;
    width: 100%;
    border: 0px;
    border-left: 3px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px;

    background-color: $background-color;
    outline: none;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
    > h2 {
      font-weight: normal;
      font-size: 1rem;
      color: #7ba4db;
    }

    @media(max-width: 480px)  {
      > h2 {
        font-size: 0.8rem;
      }
    }
  }

  &__answer {
    max-height: 500px;
    overflow: hidden;
    font-size: 0.8em;
    padding:10px 10px 10px 20px;
    &--opened {
      max-height: 500px;
    }

    @media(max-width: 480px)  {
      font-size: 0.7rem;
    }
  }
}

.qa-answer-transition-enter {
  opacity: 0.01;
  max-height: 0;
}

.qa-answer-transition-enter.qa-answer-transition-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.qa-answer-transition-leave {
  opacity: 1;
  max-height: 500px;
}

.qa-answer-transition-leave.qa-answer-transition-leave-active {
  opacity: 0.01;
  max-height: 0;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

/*
.qa-answer-transition-appear {
  opacity: 0.01;
}

.qa-answer-transition-appear.qa-answer-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}*/
